<a href="https://colab.research.google.com/github/LucasColas/AI-Game-Side-Scroller/blob/master/LR%20Multiple%20variables/Test_LR_Multiple_var.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression  

---

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import linear_model

In [2]:
from google.colab import files
import io

dataset = files.upload()

Saving data_csv.csv to data_csv.csv

In [3]:
df = pd.read_csv(io.BytesIO(dataset['data_csv.csv']))

In [4]:
df #Load

            Date    SP500  Dividend  ...  Real Dividend  Real Earnings   PE10
0     1871-01-01     4.44      0.26  ...           5.21           8.02    NaN
1     1871-02-01     4.50      0.26  ...           5.06           7.78    NaN
2     1871-03-01     4.61      0.26  ...           4.98           7.67    NaN
3     1871-04-01     4.74      0.26  ...           5.17           7.96    NaN
4     1871-05-01     4.86      0.26  ...           5.29           8.14    NaN
...          ...      ...       ...  ...            ...            ...    ...
1763  2017-12-01  2664.34     48.93  ...          49.59         111.36  32.09
1764  2018-01-01  2789.80     49.29  ...          49.68            NaN  33.31
1765  2018-02-01  2705.16     49.64  ...          49.81            NaN  32.12
1766  2018-03-01  2702.77     50.00  ...          50.06            NaN  31.99
1767  2018-04-01  2642.19       NaN  ...            NaN            NaN  31.19

[1768 rows x 10 columns]

In [5]:
dataset = df.iloc[948:1768,0:10]

In [6]:
dataset

            Date    SP500  Dividend  ...  Real Dividend  Real Earnings   PE10
948   1950-01-01    16.88      1.15  ...          12.23          24.84  10.75
949   1950-02-01    17.21      1.16  ...          12.33          25.02  10.91
950   1950-03-01    17.35      1.17  ...          12.39          25.09  10.91
951   1950-04-01    17.84      1.18  ...          12.49          25.69  11.18
952   1950-05-01    18.44      1.19  ...          12.54          26.18  11.46
...          ...      ...       ...  ...            ...            ...    ...
1763  2017-12-01  2664.34     48.93  ...          49.59         111.36  32.09
1764  2018-01-01  2789.80     49.29  ...          49.68            NaN  33.31
1765  2018-02-01  2705.16     49.64  ...          49.81            NaN  32.12
1766  2018-03-01  2702.77     50.00  ...          50.06            NaN  31.99
1767  2018-04-01  2642.19       NaN  ...            NaN            NaN  31.19

[820 rows x 10 columns]

In [7]:
dataset.head()

           Date  SP500  Dividend  ...  Real Dividend  Real Earnings   PE10
948  1950-01-01  16.88      1.15  ...          12.23          24.84  10.75
949  1950-02-01  17.21      1.16  ...          12.33          25.02  10.91
950  1950-03-01  17.35      1.17  ...          12.39          25.09  10.91
951  1950-04-01  17.84      1.18  ...          12.49          25.69  11.18
952  1950-05-01  18.44      1.19  ...          12.54          26.18  11.46

[5 rows x 10 columns]

In [8]:
data_frame = dataset[['Date', 'Long Interest Rate', 'Real Price', 'Real Dividend']]

In [9]:
data_frame

            Date  Long Interest Rate  Real Price  Real Dividend
948   1950-01-01                2.32      179.46          12.23
949   1950-02-01                2.34      182.96          12.33
950   1950-03-01                2.36      183.67          12.39
951   1950-04-01                2.38      188.86          12.49
952   1950-05-01                2.40      194.39          12.54
...          ...                 ...         ...            ...
1763  2017-12-01                2.40     2700.13          49.59
1764  2018-01-01                2.58     2811.96          49.68
1765  2018-02-01                2.86     2714.34          49.81
1766  2018-03-01                2.84     2705.82          50.06
1767  2018-04-01                2.80     2642.19            NaN

[820 rows x 4 columns]

In [10]:
data_frame.isna().sum()

Date                  0
Long Interest Rate    0
Real Price            0
Real Dividend         1
dtype: int64

In [11]:
data_frame.fillna(method='ffill', inplace=True)
data_frame

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

            Date  Long Interest Rate  Real Price  Real Dividend
948   1950-01-01                2.32      179.46          12.23
949   1950-02-01                2.34      182.96          12.33
950   1950-03-01                2.36      183.67          12.39
951   1950-04-01                2.38      188.86          12.49
952   1950-05-01                2.40      194.39          12.54
...          ...                 ...         ...            ...
1763  2017-12-01                2.40     2700.13          49.59
1764  2018-01-01                2.58     2811.96          49.68
1765  2018-02-01                2.86     2714.34          49.81
1766  2018-03-01                2.84     2705.82          50.06
1767  2018-04-01                2.80     2642.19          50.06

[820 rows x 4 columns]

In [12]:
data_frame['Real Price Label'] = data_frame['Real Price'].shift(-3)
data_frame

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            Date  Long Interest Rate  ...  Real Dividend  Real Price Label
948   1950-01-01                2.32  ...          12.23            188.86
949   1950-02-01                2.34  ...          12.33            194.39
950   1950-03-01                2.36  ...          12.39            196.72
951   1950-04-01                2.38  ...          12.49            180.17
952   1950-05-01                2.40  ...          12.54            189.48
...          ...                 ...  ...            ...               ...
1763  2017-12-01                2.40  ...          49.59           2705.82
1764  2018-01-01                2.58  ...          49.68           2642.19
1765  2018-02-01                2.86  ...          49.81               NaN
1766  2018-03-01                2.84  ...          50.06               NaN
1767  2018-04-01                2.80  ...          50.06               NaN

[820 rows x 5 columns]

In [13]:
features_temp = data_frame.drop("Date",1)
features = np.array(features_temp.drop('Real Price Label', 1))

scaled_features = preprocessing.scale(features)
scaled_features

array([[-1.17918844, -1.16779909, -1.29588611],
       [-1.17220065, -1.16202168, -1.28285017],
       [-1.16521287, -1.16084969, -1.2750286 ],
       ...,
       [-0.99051829,  3.01650245,  3.60302319],
       [-0.99750607,  3.00243857,  3.63561306],
       [-1.01148164,  2.89740516,  3.63561306]])

In [26]:
scaled_features_l_3 = scaled_features[-3:]
print("scaled features latest 3 : ", scaled_features_l_3)
scaled_features = scaled_features[:-3]
scaled_features

scaled features latest 3 :  [[-1.16870676  2.8721661   3.53653985]
 [-1.1512373   2.99304615  3.5743441 ]
 [-1.08834725  3.17764283  3.58607645]]

array([[-1.17918844, -1.16779909, -1.29588611],
       [-1.17220065, -1.16202168, -1.28285017],
       [-1.16521287, -1.16084969, -1.2750286 ],
       ...,
       [-1.21762124,  2.66170311,  3.45702057],
       [-1.22111514,  2.70117111,  3.46614573],
       [-1.16521287,  2.81107406,  3.50394998]])

In [15]:
data_frame.dropna(inplace=True)
data_frame

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            Date  Long Interest Rate  ...  Real Dividend  Real Price Label
948   1950-01-01                2.32  ...          12.23            188.86
949   1950-02-01                2.34  ...          12.33            194.39
950   1950-03-01                2.36  ...          12.39            196.72
951   1950-04-01                2.38  ...          12.49            180.17
952   1950-05-01                2.40  ...          12.54            189.48
...          ...                 ...  ...            ...               ...
1760  2017-09-01                2.20  ...          48.76           2700.13
1761  2017-10-01                2.36  ...          49.05           2811.96
1762  2017-11-01                2.35  ...          49.30           2714.34
1763  2017-12-01                2.40  ...          49.59           2705.82
1764  2018-01-01                2.58  ...          49.68           2642.19

[817 rows x 5 columns]

In [16]:
label = np.array(data_frame['Real Price Label'])
label

array([ 188.86,  194.39,  196.72,  180.17,  189.48,  195.36,  201.8 ,
        200.58,  197.37,  208.62,  213.87,  209.46,  212.26,  211.54,
        207.87,  211.54,  220.8 ,  224.76,  222.75,  214.92,  220.7 ,
        228.06,  225.61,  226.18,  224.66,  224.57,  229.85,  234.68,
        235.61,  231.87,  227.  ,  234.21,  243.66,  245.89,  243.8 ,
        244.11,  232.08,  232.43,  223.27,  226.44,  226.52,  216.12,
        221.8 ,  227.55,  230.61,  236.46,  241.66,  246.77,  257.57,
        266.83,  268.97,  279.83,  285.41,  293.18,  299.99,  311.74,
        327.22,  333.11,  344.25,  341.54,  353.33,  351.83,  372.23,
        397.97,  395.54,  411.81,  391.1 ,  417.48,  422.95,  411.58,
        414.19,  442.71,  446.27,  430.64,  425.  ,  444.78,  443.76,
        427.09,  420.09,  415.73,  420.38,  411.23,  392.07,  395.69,
        403.41,  417.4 ,  422.76,  428.25,  404.68,  388.26,  364.07,
        354.96,  354.78,  359.2 ,  360.43,  365.3 ,  366.02,  377.78,
        386.86,  396.12,  412.36,  423.25,  440.45,  452.29,  462.41,
        479.17,  473.48,  485.49,  491.92,  499.33,  493.32,  511.14,
        508.23,  486.45,  484.37,  486.33,  501.88,  494.81,  474.01,
        467.55,  471.98,  467.66,  483.3 ,  471.31,  476.97,  462.62,
        450.46,  465.05,  476.2 ,  500.68,  521.22,  537.57,  551.9 ,
        557.52,  550.14,  544.97,  566.43,  560.13,  566.29,  591.94,
        597.44,  575.2 ,  582.84,  583.42,  562.96,  521.1 ,  460.21,
        469.74,  482.52,  476.66,  461.62,  493.43,  514.79,  534.68,
        541.75,  537.92,  563.24,  574.54,  572.42,  562.09,  577.63,
        592.85,  592.39,  589.06,  599.69,  618.12,  625.72,  637.12,
        646.34,  652.64,  646.67,  668.53,  660.86,  670.06,  681.63,
        684.16,  672.31,  689.61,  694.65,  693.07,  699.94,  710.36,
        672.34,  671.31,  683.81,  706.65,  720.27,  726.26,  720.67,
        733.17,  723.66,  691.76,  708.51,  671.23,  663.61,  659.87,
        616.18,  594.49,  585.71,  615.02,  617.6 ,  641.3 ,  663.39,
        676.98,  686.56,  696.76,  685.96,  695.72,  704.69,  712.4 ,
        709.18,  684.9 ,  702.34,  696.32,  662.94,  648.92,  694.82,
        708.74,  723.59,  718.01,  700.32,  721.04,  734.64,  743.86,
        749.51,  715.82,  708.33,  687.22,  697.2 ,  717.93,  676.74,
        642.99,  635.93,  636.44,  639.79,  640.98,  603.78,  596.9 ,
        573.04,  579.79,  557.75,  492.29,  486.73,  485.07,  499.16,
        526.31,  534.99,  531.72,  565.27,  586.86,  608.06,  622.09,
        641.72,  629.86,  613.64,  607.71,  595.44,  608.67,  594.29,
        566.74,  602.83,  627.93,  636.38,  649.93,  654.99,  646.81,
        647.06,  639.2 ,  660.28,  649.22,  647.33,  678.21,  690.72,
        694.38,  665.06,  648.53,  632.04,  610.08,  592.37,  596.67,
        575.01,  583.69,  601.58,  555.19,  512.54,  515.27,  494.64,
        509.29,  481.25,  460.96,  457.81,  401.1 ,  379.9 ,  336.34,
        339.5 ,  348.02,  322.86,  347.95,  381.18,  397.18,  400.11,
        423.12,  430.69,  426.33,  394.35,  387.43,  403.06,  406.92,
        399.29,  435.24,  450.42,  451.85,  453.8 ,  447.49,  447.77,
        455.92,  449.62,  457.6 ,  439.69,  435.92,  449.45,  443.3 ,
        426.96,  422.41,  412.44,  409.18,  408.67,  410.39,  399.04,
        391.56,  380.19,  380.52,  377.45,  360.76,  353.42,  350.01,
        362.48,  377.31,  374.22,  369.58,  393.3 ,  390.34,  374.57,
        351.07,  354.68,  364.73,  355.16,  358.29,  361.31,  348.48,
        351.43,  351.  ,  363.58,  363.7 ,  347.18,  341.34,  351.14,
        356.13,  365.1 ,  326.56,  317.69,  328.94,  346.2 ,  361.91,
        370.4 ,  376.24,  383.59,  396.52,  386.48,  381.93,  364.95,
        376.02,  376.86,  366.41,  364.83,  352.12,  350.8 ,  317.12,
        320.45,  327.69,  329.04,  310.77,  302.39,  292.93,  306.17,
        303.56,  282.55,  280.33,  280.52,  312.36,  337.61,  352.06,
        356.83,  368.62,  374.63,  387.64,  399.58,  413.29,  417.82,
        417.64,  404.92,  414.82,  414.83,  407.83,  405.46,  407.97,
        383.78,  383.28,  381.9 ,  378.38,  368.85,  362.63,  393.04,
        395.22,  391.01,  394.56,  390.29,  406.37,  426.37,  421.25,
        422.08,  430.52,  438.61,  446.13,  435.59,  424.7 ,  427.96,
        452.68,  473.84,  474.6 ,  501.5 ,  533.43,  547.52,  547.16,
        559.68,  548.04,  557.97,  540.25,  537.72,  554.66,  562.07,
        594.26,  628.84,  651.89,  641.33,  638.62,  663.44,  680.79,
        719.37,  692.37,  607.15,  530.41,  521.75,  540.91,  555.88,
        569.8 ,  560.26,  544.54,  573.14,  567.35,  553.63,  558.9 ,
        576.58,  562.8 ,  573.27,  588.79,  604.04,  597.93,  613.53,
        633.47,  651.67,  666.56,  694.97,  694.14,  691.03,  675.09,
        690.66,  666.69,  644.99,  657.03,  655.46,  677.28,  693.13,
        689.79,  627.91,  593.83,  574.75,  588.72,  613.85,  604.15,
        671.41,  688.95,  701.61,  696.43,  694.93,  697.47,  712.2 ,
        705.08,  703.47,  699.68,  703.87,  752.73,  743.67,  730.6 ,
        729.65,  741.83,  727.53,  738.04,  741.05,  739.92,  726.78,
        743.95,  767.01,  762.52,  771.16,  783.19,  768.73,  771.42,
        775.22,  773.88,  783.55,  790.73,  795.46,  793.18,  798.43,
        808.27,  803.12,  787.2 ,  758.03,  763.73,  767.79,  759.94,
        778.41,  780.88,  775.09,  769.38,  759.67,  773.36,  797.88,
        813.78,  835.38,  859.83,  883.6 ,  913.12,  913.57,  943.85,
        947.52,  968.65, 1000.27,  994.2 , 1047.63, 1038.29, 1034.46,
       1054.91, 1065.83, 1024.91, 1052.52, 1068.5 , 1107.07, 1158.87,
       1170.81, 1203.2 , 1249.79, 1236.94, 1191.37, 1300.03, 1365.74,
       1440.31, 1440.66, 1452.24, 1470.5 , 1452.48, 1490.6 , 1489.37,
       1579.78, 1658.63, 1709.95, 1701.  , 1698.87, 1770.56, 1643.07,
       1558.63, 1572.85, 1743.41, 1814.01, 1898.89, 1893.25, 1940.63,
       2006.44, 2002.4 , 1988.09, 2069.71, 1984.76, 1961.44, 1930.97,
       2064.89, 2120.83, 2109.97, 2043.52, 2104.65, 2131.35, 2066.39,
       2118.62, 2129.67, 2147.69, 2111.52, 1996.01, 1977.5 , 1911.  ,
       1905.7 , 1855.65, 1681.43, 1680.41, 1786.06, 1738.62, 1695.29,
       1658.77, 1463.76, 1513.62, 1590.95, 1618.81, 1608.5 , 1546.61,
       1612.18, 1545.05, 1499.64, 1408.22, 1253.46, 1261.69, 1197.84,
       1177.7 , 1253.9 , 1241.83, 1231.77, 1142.11, 1148.31, 1209.8 ,
       1274.31, 1343.7 , 1348.41, 1339.22, 1375.23, 1402.77, 1421.69,
       1464.91, 1527.77, 1534.11, 1498.45, 1506.14, 1456.97, 1491.85,
       1458.71, 1435.65, 1470.41, 1462.12, 1529.02, 1574.38, 1547.76,
       1562.62, 1544.38, 1494.94, 1514.28, 1544.29, 1562.74, 1557.36,
       1540.64, 1494.95, 1564.47, 1602.18, 1611.05, 1605.2 , 1617.73,
       1614.53, 1591.56, 1543.06, 1547.19, 1577.12, 1622.56, 1687.91,
       1721.74, 1753.58, 1757.79, 1773.78, 1711.72, 1769.2 , 1815.52,
       1815.67, 1823.95, 1747.89, 1794.01, 1841.05, 1739.52, 1759.52,
       1631.91, 1598.99, 1540.87, 1593.83, 1618.29, 1531.39, 1428.08,
       1461.33, 1389.68, 1117.59, 1038.55, 1042.89, 1024.2 ,  948.08,
        889.28,  993.71, 1054.23, 1072.72, 1085.67, 1168.8 , 1208.35,
       1233.89, 1256.59, 1284.62, 1295.46, 1255.47, 1322.53, 1372.11,
       1288.31, 1241.77, 1237.43, 1244.28, 1283.36, 1338.31, 1368.93,
       1415.18, 1455.09, 1491.41, 1458.42, 1479.1 , 1479.69, 1424.81,
       1465.46, 1307.17, 1292.6 , 1332.06, 1354.39, 1376.45, 1433.53,
       1484.21, 1513.05, 1505.44, 1458.12, 1440.89, 1482.83, 1521.98,
       1558.37, 1552.93, 1513.32, 1547.63, 1606.12, 1627.41, 1664.51,
       1687.59, 1758.74, 1731.99, 1784.69, 1784.05, 1800.2 , 1840.  ,
       1911.84, 1937.99, 1946.38, 1933.55, 1970.32, 1964.63, 1984.58,
       2040.98, 2069.05, 2060.36, 2092.08, 2038.46, 2163.05, 2185.7 ,
       2168.15, 2216.27, 2200.82, 2212.06, 2218.78, 2197.79, 2192.26,
       2138.47, 2041.58, 2126.95, 2190.2 , 2169.67, 2023.23, 2006.62,
       2121.32, 2167.27, 2148.15, 2160.13, 2231.13, 2251.95, 2232.83,
       2214.89, 2241.08, 2324.83, 2340.67, 2389.52, 2425.4 , 2410.56,
       2445.29, 2482.48, 2504.72, 2499.4 , 2523.31, 2589.89, 2626.9 ,
       2700.13, 2811.96, 2714.34, 2705.82, 2642.19])

In [18]:
(features_train, features_test, label_train, label_test) = model_selection.train_test_split(scaled_features, label, test_size=0.15, random_state = 7)

In [20]:
model = linear_model.LinearRegression()
model.fit(features_train, label_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
model.score(features_test, label_test)

0.9924279387756088

In [23]:
prediction = model.predict(features_test)
prediction

array([2050.62562984, 2212.0886232 , 2486.21092184, 1348.6560865 ,
       1759.46285818,  484.17021218, 1254.62942593,  241.31579757,
        328.9330409 ,  363.2335799 ,  368.42040733, 1572.37381026,
        571.24957908, 1684.78802698, 1825.42537344,  489.6826329 ,
       2084.21148657, 1508.75109481,  372.29828927,  556.58236675,
        312.37340087,  299.14679584,  678.11519433,  562.26769969,
        766.59447651,  276.44162675,  656.44702433, 1324.65616443,
        524.42072266, 1299.78849765, 1610.75177487,  683.76026458,
        713.31342175,  751.79182283,  584.6869921 ,  341.9156405 ,
       2054.34724246,  801.69054557,  501.3899695 ,  549.71365112,
        452.99257626,  426.70690318,  719.06439276,  600.48633078,
        352.0340646 ,  746.78077123,  343.5684728 ,  388.1186634 ,
        580.23533313,  387.18549893,  632.87200083,  322.89715879,
        528.426579  , 2090.76048825,  562.33541062,  360.95450889,
       1691.42194739,  225.0749296 , 1553.04507471,  653.61217649,
       2545.67248336, 2738.9346382 , 2203.45623532,  626.46772076,
       2276.81221459,  577.29951574,  324.27116047, 1506.96814902,
        631.20705815,  542.95554686, 1276.79871542,  615.33597808,
       1972.64042975, 1898.46510871,  564.67091763, 1463.5172308 ,
        682.92682286,  614.9613184 ,  244.65927732,  353.39340593,
       1551.8164176 , 2097.9069148 ,  770.54815805,  698.93827491,
        373.9760942 ,  224.05626739,  396.23793744,  341.08656348,
        235.18479014, 1058.12970032,  761.22833953, 1270.68851522,
       1652.72565239,  474.64282843,  307.73976263, 1572.81314288,
        405.87504345, 1466.93217082, 1480.32427184, 1564.42997358,
       1578.20581872,  482.62155068,  600.64036755, 1205.18119404,
        342.37993901,  287.3446375 ,  388.33268964, 2250.9841286 ,
       1244.58078188, 1374.43915871,  732.62759345,  573.44499726,
        489.26782725,  470.83325213, 1653.09337131,  456.22847631,
       1298.48946094,  804.61106597,  663.07236911, 1068.63910847,
        774.63987211, 2465.4881417 ,  366.18914235])

In [25]:
predict = model.predict(scaled_features_l_3)
predict

array([2752.47253433, 2744.80858144, 2682.76302154])